h2 {
    text-align: center;
}
form {
    background-color: rgb(212, 208, 208);
    padding: 3%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.btn {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}