<!-- 
 - Indica que el componente product-form (hijo) está emitiendo un evento llamado newProductEvent, 
 y el componente padre está escuchándolo con la función addProduct($event)
 "addProduct($event)" significa que, cuando newProductEvent sea emitido, se ejecutará 
 la función addProduct() en el componente padre, pasando $event como argumento
 
 - [product] = "selectedProduct" significa que selectedProduct en el padre se envía al hijo.
 El hijo debe usar @Input() product para recibir la variable.
 El valor se actualiza automáticamente si selectedProduct cambia en el padre.
 -->
<product-form
  (newProductEvent)="addProduct($event)"
  [product]="selectedProduct"
></product-form>

@if (products.length > 0) {
<div class="container col-8 mt-5">
  <h2>{{ title }}</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track $index) {
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}€</td>

        <!-- 
        cuando pulsemos en el botón del producto que queramos modificar,
        apuntamos al método definido en product.component.ts pasándole el mismo producto-->
        <td>
          <button class="btn btn-secondary" (click)="onUpdateProduct(product)">
            Update
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onRemoveProduct(product.id)">
            Remove
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
<h2 class="mt-3">Lo sentimos no hay productos en la lista products</h2>
}
